<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/my-login.css"></link>
  <style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #00bfff;
       color: rgb(7, 7, 7);
       text-align: center;
    }
    </style>
</head>
<body>
  
    <!--Navbar -->
  <nav class="navbar navbar-expand-lg" style="background-color: #00bfff;">
    <a class="navbar-brand" style="color: black; font-size: 26px;"><b>My Drive</b></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
         <a class="nav-link" href="#" style="color: black; font-size: 16px;">
          <b><i>Welcome!</b></i> {{ user.email }} 
           
         </li>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
       <form class="form-inline my-2 my-lg-0">
       <class class="btn btn-danger" type="submit">
           <a href="/logout" style="color: white">Logout</a>
           </class>
       </button>
       </form>
     </div>
   </nav>
<!--/.Navbar -->
<br><br>

<div class="content" >
    <div class="row mt-4" style ="width: 96%">
        <div class="col" >
        <h5 style="color: black; font-size: 21px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
             <b>Uploaded Files</b></h5>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
          Upload Files
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="uploadModal" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">My Box</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Click below to upload a file or drag and drop the file you 
                want to upload to the below container
                  <form class="mt-4" method="post" action="/handle_file_upload" enctype="multipart/form-data">
                    <div class="form-group">
                        <lable for="fileUpload">
                          
                        </lable>
                        <input type="file" class="form-control-file" id="fileUpload" name="uploadedFile">
                      </div>

                      
                 
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Upload</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
            
        {% if info != '' %} 
        <div class="alert alert-info" role="alert" style="text-align: center; width:90%; margin-left: 5%;">
            <strong>Info! </strong>{{ info }}   
        </div>
        {% endif %}

        {% if signupSuccess != '' %} 
        <div class="mt-3 alert alert-success" role="alert" style="text-align: center; width:90%; margin-left: 5%;">
              <strong>Success! </strong>{{ signupSuccess }}
        </div>
        {% endif %}
  
        {% if error != '' %} 
        <div class="mt-2 alert alert-danger" role="alert" style="text-align: center; width:90%; margin-left: 5%;">
            <strong>Error! </strong>{{ error }}   
        </div>
        {% endif %}

    <table class="mt-4" fixed>
    <table class="table table-bordered" align="center" style ="width: 90%; color: black; font-size: 16px;">
        <thead class="thead-light">
          <tr align="center">
            <th scope="col" style ="width: 30%">File Name</th>
            <th scope="col" style ="width: 15%">File Size</th>
            <th scope="col" style ="width: 25%">Uploaded Date & Time</th>
            <th scope="col" style ="width: 40%">Options</th>
          </tr>
        </thead>
        <tbody>
            {% for f in uploaded_files  %}
          <tr align= "center">
            <td>
                {{ f['originalFileName'] }}
            </td>
            <td>
                {{ f['fileSize'] }}
            </td>
            <td>
                {{ f['createdAt'] }}
            </td>
            <td>
                <button type="button" class="btn btn-info">
                  <a href="share/{{f['_id']}}/{{f['originalFileName']}}" style="color:white">Share</a>
                </button>  &nbsp;   &nbsp;
                
              
                <button type="button" class="btn btn-success" >
                  <a href="download_file/{{f['_id']}}" target='_blank' style="color:white">Download</a>
                </button>
  
                  &nbsp;&nbsp; 
                <button type="button" class="btn btn-danger">
                    <a href="delete/{{f['originalFileName']}}" style="color:white">Delete</a>
                </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
</div>
  <div class="footer">
    <p>© 2020 Copyright: SSM Pvt. Ltd. </p>
  </div>
</body>
</html>
